html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  font-family: 'Kdam Thmor Pro', sans-serif;
  flex-direction: column;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --margin-size: 25px;
  --center-align-on-page: var(--margin-size) auto;
  --button-color: hsla(225, 100%, 50%, 1);
  --white-text-color: hsla(360, 100%, 100%, 1);
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

label, h3 {
  font-size: 1.5rem;
}

button, input {
  border-radius: 2px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: var(--margin-size) 0;
}

label {
  display: block;
  margin: 8px 0;
  text-align: center;
}

input {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 30px;
}

button {
  background-color: var(--button-color);
  color: var(--white-text-color);
  padding: 8px;
}

main .main {
  margin: var(--center-align-on-page);
  width: 90%;
}

footer .footer {
  flex-shrink: 0;
}

.page-wrapper {
  flex: 1 0 auto;
}

.main__input-section {
  margin: var(--center-align-on-page);
  width: fit-content;
}

.footer__section--align-center {
  margin: var(--center-align-on-page);
  width: fit-content;
}